{% with request.resolver_match.view_name as view_name %} 
  <article>
    <ul>
      <li>
        Автор: {{ post.author.username }}
        {% if view_name != 'posts:profile'%}
          <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
        {% endif %}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:'d E Y' }} 
      </li>
    </ul>
    <p>{{ post.text }}</p>
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a><br>
    {% if view_name != 'posts:group_list' and post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  </article>
{% endwith %}